@import "tailwindcss";

/* Ballina */
.nav-link {
  @apply text-gray-700 hover:text-blue-600 font-medium transition-colors duration-200;
}

.publikoPune {
  @apply px-6 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 font-medium transition-colors duration-200 cursor-pointer;
}

.kycja {
  @apply px-4 py-2 text-gray-700 hover:text-blue-600 font-medium transition-colors duration-200;
}

/* Butoni */
.butoniKycjeRegjistrim {
  @apply border border-[#7e7f7e] block rounded-3xl p-1 w-full bg-[#7e7f7e] hover:bg-[#6A6A6A] text-white hover:text-white cursor-pointer;
}
.input {
  @apply border border-gray-400 rounded-sm p-3 w-full box-border;
}
.label {
  @apply text-gray-600 px-1 font-semibold;
}
.paragraf {
  @apply text-xs text-gray-600 font-semibold;
}

.info {
  @apply text-gray-600 text-sm;
}
