@import url("https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap");

@import "tailwindcss";

/* Ballina */
.nav-link {
  @apply text-gray-700 hover:text-blue-600 font-medium transition-colors duration-200;
}

.publikoPune {
  @apply px-6 py-2 bg-[#0F4C75] text-white rounded-lg hover:bg-white hover:text-[#0F4C75] border font-medium transition-colors duration-200 cursor-pointer;
}

.kycja {
  @apply px-6 py-2 text-[#0F4C75] hover:text-white font-medium transition-colors duration-200 border hover:bg-[#0f4c75] rounded-lg transition-colors;
}

/* Butoni */
.butoniKycjeRegjistrim {
  @apply border  block rounded-3xl p-1 w-full bg-[#0F4C75] hover:bg-white border-[#0F4C75] text-white hover:text-black cursor-pointer;
}
.input {
  @apply border border-gray-400 rounded-sm p-3 w-full box-border;
}
.label {
  @apply text-gray-600 px-1 font-semibold;
}
.paragraf {
  @apply text-xs text-gray-600 font-semibold;
}

.info {
  @apply text-gray-600 text-sm;
}
.input-ShpalljaProfil {
  @apply w-full px-2 py-3 border border-gray-200 rounded-lg focus:border-blue-500 focus:outline-none transition-colors text-sm font-semibold;
}
